/* Define estilos para o elemento <body> */
body {
    font-family: 'Poppins', sans-serif; /* Define a fonte do texto como Arial, com fallback para sans-serif */
    background-color: #f4f4f4; /* Define a cor de fundo da página como um cinza claro */
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove preenchimento padrão do body */
    scroll-behavior: smooth;
}
/* Seções */
section {
    padding: 60px 20px;
    text-align: center;
}

#inicio {
    background-color: #f4f4f4; /* Define a cor de fundo como cinza claro */
    min-height: 50vh; /* Define que cada seção terá no mínimo a altura da tela (100% da viewport height) */
}

#sobre {
    background-color: #e2e2e2; /* Define a cor de fundo como um cinza mais claro */
}

#servicos {
    background-color: #d1d1d1; /* Define a cor de fundo como um cinza médio */
}

#contato {
    background-color: #c0c0c0; /* Define a cor de fundo como um cinza mais escuro */
}