/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {

    /* Aplica estilos para telas menores que 768px */
    nav {
        flex-direction: unset;
        /* Mantém a direção padrão da flexbox */
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        height: auto;
        text-align: left;
        background: #41485ae3;
        padding: 10px;
        margin-top: 22px;
        position: absolute;
        left: 0;
        top: 60px;
    }

    .nav-links.active {
        display: flex;
        /* Exibe os links ao ativar o menu */
        transform: translateX(0);

    }

    .menu-toggle {
        display: block;
        /* Exibe o ícone do menu hamburguer */
        margin-left: 15px;
        /* Adiciona margem à esquerda */
        padding: 10px;
        /* Adiciona espaçamento interno */
        color: #F2CEA2c4;
    }

    .logo a {
        color: #F2CEA2;
        /* Define a cor do texto do logo */
    }

    .carousel {
        margin: 1rem;
        padding: 0;
    }

    .slide {
        padding: 1rem;
        min-height: auto;
    }

    .prev,
    .next {
        font-size: 2rem;
        padding: 8px;
    }

    .indicadores {
        bottom: -20px;
    }

    .cont-slide {
        flex-direction: column;
        /* Empilha em mobile */
    }

    .tx-slide {
        max-width: 100%;
        /* Largura total */
    }

    .img-slide {
        width: 100%;
        /* Largura total */
        height: auto;
    }
    #inicio {
        min-height: 40vh; /* Menor altura em telas pequenas */
    }
    #titulo-inicio {
        font-size: 3rem;
        padding: 20px;
    }
    
    #inicio::before {
        background-size: 90%;
    }

    section p {
        text-align: justify; /* Só justificar em desktop */
        word-spacing: -0.05em; /* Ajuste fino de espaçamento */
        hyphens: auto;
    }
}

@media (max-width: 480px) {
    .logo a {
        font-size: 1.5rem;
    }

    section {
        padding: 2rem 1rem;
    }
}

/* Menu mobile aberto */
body.menu-open {
    overflow: hidden;
}